body {
  margin: 0;
  background-color: #001942;
  font-family: Arial;
}

header {
  display: inline-block;
  margin: 15px 0 15px 80px;
}

h1, h2 {
  color: #ffffff;
  text-align: left;
}

canvas {
  display: block;
  margin: 0 auto;
}

.canvas {
  background: linear-gradient(217deg, rgba(255, 229, 0,.8), rgba(255, 229, 0,0) 45.99%),
              linear-gradient(127deg, rgba(255, 229, 0,.8), rgba(255, 229, 0,0) 45.99%);
  opacity: .9;
  width:  850px;
  margin: 0 0 0 80px;
  border-radius: 5px;
  float: left;
}

button {
  background-color: #001942;
  padding: 0 5px;
  margin: 30px auto 10px auto;
  color: #ffffff;
  font-size: 16px;
  width: 140px;
  border-radius: 5px;
  border: 1px solid #001942;
  border-bottom: 2px solid #001942;
  outline: none;
}

#buttons {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

#start-new-game {
  background-color: red;
  border: 5px solid red;
  border-bottom: 7px solid red;
}

button:hover {
  opacity: .9;
}

#door-one {
  z-index: 1;
  margin-left: 105px;
  position: fixed;
  margin-top: 100px;
  border: 1px solid #001942;
  border-bottom: 2px solid #001942;
}

#door-two {
  z-index: 1;
  margin-left: 355px;
  position: fixed;
  margin-top: 100px;
  border: 1px solid #001942;
  border-bottom: 2px solid #001942;
}

#door-three {
  z-index: 1;
  margin-left: 605px;
  position: fixed;
  margin-top: 100px;
  border: 1px solid #001942;
  border-bottom: 2px solid #001942;
}

#instructions {
  float: right;
  margin-right: 30px;
}

p {
  line-height: 1.6;
  color: #ffffff;
}

.align-paragraph {
  margin-left: 17px;
}



/* #host, #start-new-game, #reveal-prize, #switch {
  display: none;
} */

.hidden-button {
  display: none;
}

.visible-button {
  display: inline-block;
}
